* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fundo com imagem */
body {
    font-family: 'Press Start 2P', cursive;

    background: url('../assets/fundo.png') no-repeat center/cover;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff;

    position: relative;
}

/* overlay preto com degradê animado */
body::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        120deg,
        rgba(0,0,0,0.98),
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.95)
    );

    background-size: 300% 300%;

    animation: ondas 8s ease-in-out infinite;

    z-index: 0;
    pointer-events: none;
}

/* animação do overlay */
@keyframes ondas {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* container */
.container {
    text-align: center;
    width: 90%;
    max-width: 1200px;

    position: relative;
    z-index: 1;
}

/* perfil */
.profile {
    margin-bottom: 40px;
}

/* avatar */
.avatar {
    width: 200px;
    height: 200px;
    margin-bottom: 35px;
    object-fit: cover;
}

/* título */
h5 {
    font-size: 14px;
    color: #c21717;
    margin-bottom: 14px;
}

/* bio */
.bio {
    font-size: 10px;
    color: #aaa;
    margin-bottom: 20px;
}

/* links */
.links {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap; /* todos lado a lado */
}

/* botão */
.link {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    background: #222;
    color: #ffffff;

    width: 200px;
    height: 40px;

    padding: 10px;
    text-decoration: none;
    font-size: 12.5px;

    border-radius: 90px;
    border: 2px solid #fff;

    box-shadow: 6px 6px 0 #000;

    transition: all 0.1s ease;
}

/* hover */
.link:hover {
    background: #fff;
    color: #000;
    transform: scale(1.08);
}

/* clique */
.link:active {
    transform: translate(4px, 4px);
    box-shadow: 2px 2px 0 #000;
}

/* ícones */
.link i {
    font-size: 28px;
}

.overlay {
    position: absolute;
    inset: 0;
    
    justify-content: center;
    align-items: center;

    z-index: 2;
}